// Colors mode Light and Dark
$bgDark: hsl(207, 26%, 17%);
$bgLight: hsl(0, 0%, 98%);

$inputLight: hsl(0, 0%, 52%);
$txLight: hsl(200, 15%, 8%);

//Dark Mode Text & Light Mode Elements
$txDark: hsl(0, 0%, 100%);
$darkEle: hsl(209, 23%, 22%);

$nunito: "Nunito Sans", sans-serif;

// Media queries
$phone: 375px;
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Unidades
$separation: 5rem;